$text: #efe9f1;
$background: #0d080f;
$primary: #c198d2;
$secondary: #642b7c;
$accent: #a546cd;
$iconSize: 30px;

$nav-bg-color: mix(white, $background, 5%);
$nav-bg-color-hover: mix(white, $background, 10%);