@use "./variables";
@import url('https://fonts.googleapis.com/css2?family=Inter:opsz@14..32&display=swap');

body {
  background-color: variables.$background;
  color: variables.$text;
  font-size: 1.1em;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

html {
  overflow: hidden;
}

button, body {
  font-family: "Inter", sans-serif;
}